// 스크롤의 방향, 스크롤의 크기, 스크롤 색상, 스크롤 둥근형태
@mixin scroll($size, $color, $radius) {
  &::-webkit-scrollbar {
    width: $size;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    width: $size;
    background-color: $color;
    border-radius: $radius;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
