@use "sass:string";

@function str-replace($string, $search, $replace) {
  $index: string.index($string, $search);

  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace + str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
  }

  @return $string;
}

@function svg($svg) {
  $encoded: str-replace($svg, '"', "%22");
  $encoded: str-replace($encoded, "#", "%23");
  $encoded: str-replace($encoded, "<", "%3C");
  $encoded: str-replace($encoded, ">", "%3E");
  @return url("data:image/svg+xml," + $encoded);
}

@mixin svg-background($svg) {
  background: svg($svg) no-repeat 0 0 / contain;
}
