@use "../abstract/" as *;

@layer Components {
  .block {
    border-radius: rem(15);
    box-shadow: 0 3px 20px #1d26260d;
    padding: rem(30);
    background-color: $white;
    box-sizing: border-box;
  }
}
