@use "../abstract/" as *;

@layer Components {
  @layer Sidebar {
    .sidebar {
      $width: rem(300);
      $minWidth: rem(100);

      @include position(f, left, 0, top, 0, 1000);
      overflow: hidden;
      height: 100vh;
      width: $minWidth;
      background-color: $gray50;
      transition: width 0.4s;
      box-shadow: 0 rem(80) rem(20) rgba(0, 0, 0, 0.1);

      &.toggle {
        width: $width;
        .sidebar-top {
          :not(.btn-menu) {
            display: block;
          }
        }
        .nav {
          b {
            opacity: 1;
            display: block;
            @starting-style {
              display: none;
              opacity: 0;
            }
          }
        }
        .title {
          color: rgba($gray500, 1);
          &::before {
            translate: -100%;
            opacity: 0;
          }
        }
      }

      .inner-wrap {
        width: $width;
      }
      .nav-aria {
        padding: rem(30);
      }
      .title {
        text-transform: uppercase;
        letter-spacing: rem(3);
        margin-top: rem(30);
        margin-left: rem(15);
        display: flex;
        align-items: center;
        color: rgba($gray500, 0);
        transition: 0.4s;
        &::before {
          content: "";
          width: rem(5);
          aspect-ratio: 1;
          background-color: $gray400;
          border-radius: rem(100);
          transition: 0.4s;
        }
      }
      .nav {
        display: grid;
        gap: rem(14);
        margin-top: rem(14);
        a {
          display: grid;
          grid-template-columns: min-content 1fr;
          align-items: center;
          gap: rem(10);
          &:hover {
            svg,
            b {
              color: $primary;
            }
          }
        }
        span {
          padding: rem(11);
          width: rem(40);
          box-sizing: border-box;
          aspect-ratio: 1;
          box-shadow: 0 3px 12px rgba($black, 0.09);
          border-radius: rem(8);
        }
        b {
          transition: 0.5s allow-discrete;
          opacity: 0;
        }
        svg {
          width: 100%;
          height: 100%;
          color: $gray600;
          transition: 0.5s;
        }
      }
    }

    .sidebar-top {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(10);
      height: rem(73);
      white-space: nowrap;
      background-color: $white;
      box-shadow: 0 rem(3) rem(16) rgba(0, 0, 0, 0.02);
      :not(.btn-menu) {
        display: none;
      }
    }
  }
}
