$gray900: #071021;
$gray800: #2d3036;
$gray700: #7a7e83;
$gray600: #96999f;
$gray500: #9c9da1;
$gray400: #bfc2c9;
$gray300: #e4e4e4;
$gray200: #f1f3f6;
$gray100: #f9fafc;
$gray50: #fcfcfc;

$blue400: #0d4bc1;
$blue500: #083fa9;
$orange400: #fb582a;
$orange500: #ea4b1e;
$yellow400: #ffb039;
$yellow500: #dc9222;
$green400: #8cc80c;
$green500: #83ba0e;

$white: #fff;
$black: #000;

$primary: $blue400;
$secondary: $orange400;
